<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ProjetoModelo_22.Properties.Settings.conNor"
        connectionString="Server=.;Database=NorthWind;User id=sa;password=senac"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>